<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
			</Pattern>
		</layout>
	</appender>

	<!-- https://hc.apache.org/httpcomponents-client-ga/logging.html -->

	<logger name="org.apache.http.impl.conn" level="DEBUG">
	</logger>

	<logger name="org.apache.http.impl.client" level="DEBUG">
	</logger>

	<logger name="org.apache.http.client" level="DEBUG">
	</logger>
	
	<logger name="org.apache.camel" level="DEBUG">
	</logger>

	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>
